---
layout: page
# All the Tags of posts.
---
{% assign pinned = site.posts %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}
<h2>Teaching</h2>
<div id="tags" class="d-flex flex-wrap ml-xl-2 mr-xl-2">

  <!-- {% assign tags = "" | split: "" %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %} -->

  {% for post in posts %}
    {% if post.categories[0] == "Teaching" %}
      <div>
        <a class="tag" href="{{ post.tags[0] | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
          {{ post.tags }}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
<h2>Research</h2>
<div id="tags" class="d-flex flex-wrap ml-xl-2 mr-xl-2">

  <!-- {% assign tags = "" | split: "" %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %} -->
  {% for post in posts %}
    {% if post.categories[0] == "Research" %}
      <div>
        <a class="tag" href="{{ post.tags[0] | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
          {{ post.tags }}
        </a>
      </div>
    {% endif %}
  {% endfor %}

</div>
